body {
    margin:0;
    padding:0;
    background-color: white;   
    overflow-x: hidden;
 
}
img {
    max-width:100%;
    height:auto;
}
.sidenav{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 10;
    top: 0%;
    left: 0%;
    background-color:rgb(173, 185, 202) ;
    overflow-x: hidden;
    padding-top: 100px;
  }
  .sidenav a{
    padding: 6px 8px 6px 16px ;
    text-decoration: blue;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: block;
    text-align: center;
    padding: 15px;
  }
  .sidenav a:hover{
    background-color: rgb(132, 151, 176);
  }
  #heading{
    padding-top: 8%;
    margin-left: -10%;
    z-index: 1;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .watermarkunlocked {
    position: absolute;
    z-index: -1;
    top: 20%;
    right: 15%;
    opacity: 0.1;
    display: block;
    max-width: 50%;
  }    
  #website_title_container {
    background-color: rgb(173, 185, 202);
    
    height:100px;
    left:0;
    position: absolute;
    width:100%;
    top:0;
   
}
#website_title {

    line-height:100px;
    margin:0 auto;
    width:940px;
    font-size: 40px;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    text-shadow: 1px 1px 2px rgb(92, 99, 110);
}
.wrapper_left{
    padding-left: 20%;
}
.horizontalLine{
    clear: both;
    border: none;  
    border-bottom: 3px solid black;  
    z-index: 9;
    padding-top: 20%;
    position: relative;
    width: 70%;
}
.map{
    border: 3px solid black;
    width: 50%;
    height: auto;
    margin-left: 40%;
}
.description{
    margin-left: 15%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -42%;
}
.instructions{
    margin-left: 15%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25%;
}
table{
    margin-left: 15%;
    margin-top: 20%;
}
th{
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    font-size: 20px;
    padding: 30px;
}
td{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 30px;
}
form{
    position: absolute;
    margin-top: -5%;
    margin-left: 20%;
}
::placeholder{
    color: black;
    opacity: 1;
    text-align: center;
 
  }
  input[type=text],input[type=time], input[type=date],input[type=number],input[type=password] {
    
    padding: 10px 150px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font: bold;
    color: black;
    background: transparent;
    border: 1px solid black;
    box-sizing: border-box;
  }
  /* Set a style for all buttons */
  button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 8px 0px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    width: 30%;
  }
  #window{
      width: 100%;
      padding: 10px 20px;
    color: black;
    background: transparent;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 27%;
  }
  #distance{
    width: 100%;
    padding: 10px 20px;
  color: black;
  background: transparent;
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 27%;
  }